@charset "UTF-8";

/* ----------------------------------
VARIABLES AND FONTS
---------------------------------- */

:root {
    --theme-color-1: rgba(200, 187, 170, 1);
    --theme-color-2: rgb(197, 203, 194);
    /* theme-color should match the home page wallpaper */
    --glass-color: rgba(171, 154, 129, 0.5);

    --font-primary: "custom-1";
    --default-font-size: 14px;
    --heading-font-size: 24px;
    --font-weight-primary: 300;
    --font-weight-headings: 200;

    --icon-weight: 3px;
    --insta-opacity: 0.7;

    --name-case: capitalize;
    --name-font-family: 'custom-1';
    --name-font-size: 40px;

    --header-height: 2.3rem;

    --menu-trans: 0.3s;
    --focus-trans: 0.5s;
    --page-trans: 0.5s;
}

#home {
    --page-background: var(--theme-color-1);
    --ui-color: white;
    --text-color-primary: rgb(111, 100, 86);
}

#recent {
    --page-background: white;
    --ui-color: white;
    --text-color-primary: rgb(111, 100, 86);
}

@font-face {
    font-family: 'custom-1';
    src: url('fonts/montserrat/Montserrat-VariableFont_wght.ttf');
    /* src: url('assets/font/Pictura-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/font/Pictura-Regular.woff2') format('woff2'),
        url('assets/font/Pictura-Regular.woff') format('woff'),
        url('assets/font/Pictura-Regular.ttf') format('truetype'),
        url('assets/font/Pictura-Regular.svg#Pictura-Regular') format('svg'); */
    /* font-weight: var(--font-weight-headings); */
    font-style: normal;
    font-display: swap;
}

/* ----------------------------------
UNIVERSAL HTML ELEMENTS
---------------------------------- */

html {
    font-size: var(--default-font-size);
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0rem;
    top: 0;
    background-color: var(--page-background);
    color: var(--text-color-primary);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-primary);
}

body#home {
    height: 100vh;
}

body#home #content {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-headings);
}

h1 {
    text-align: center;
    margin-top: 7rem;
    font-size: var(--heading-font-size);
}

p a {
    text-decoration: none;
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--text-color-primary);
}

main#home-main {
    width: 100%;
    height: fit-content;
}

main#recent-main {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: var(--theme-color-2);
    z-index: 1;
    padding-bottom: 7rem;
    /* border-radius: 10px 10px 0px 0px; */
    transition: margin var(--page-trans), opacity var(--page-trans);
}

body#home main#recent-main {
    opacity: 0;
    margin: 140% 0% 0% 0% !important;
}

@keyframes displayNone {
    0% {
        display: none;
    }

    100% {
        display: none;
    }
}

body#recent main#recent-main {
    display: block;
    margin: 0%;
}

#recent.menu-expanded main#recent-main {
    margin-top: 22rem;
}

svg path,
svg rect,
#recent.menu-expanded svg path,
#recent.menu-expanded svg rect {
    stroke: var(--ui-color);
    stroke-width: var(--icon-weight);
    transition: stroke var(--menu-trans);
}

figure {
    margin: 0;
    padding: 0px 0px;
}


figure img {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 1rem;
}


figcaption div {
    margin-bottom: 5px;
    text-align: center;
}

figcaption .fig-title {
    font-style: italic;
}

/* ----------------------------------
HEADER AND FOOTER
---------------------------------- */

/* menu button */

header {
    padding: var(--header-height);
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

#home header {
    position: relative;
    animation: homeHeader var(--menu-trans);
    animation-delay: var(--page-trans);
    -webkit-animation-fill-mode: forwards;
}

@keyframes homeHeader {
    0% {
        position: fixed;
    }

    100% {
        position: fixed;
    }
}

#recent header {
    position: relative;
}

#nav-button {
    top: 0;
    right: 0;
    height: var(--header-height);
    width: var(--header-height);
}

#social svg {
    height: var(--header-height);
    width: var(--header-height);
}

#nav-button {
    display: block;
}

#nav-button svg,
#back-button svg {
    padding: 2px;
}

/* menu list */

#nav-list {
    width: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    margin: var(--header-height);
    margin-top: calc(var(--header-height) * 3);
    display: none;
    flex-direction: column;
    text-align: right;
    z-index: 3;
}

body#recent #nav-list {
    position: absolute;
}

#nav-list a {
    font-size: calc(var(--default-font-size) * 1.7);
    color: var(--ui-color);
    border-bottom: 1px solid var(--ui-color);
}

#nav-list p {
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    font-weight: var(--font-weight-primary);
    font-family: var(--name-font-family);
}

/* back button */

#back-button,
#back-button a {
    height: var(--header-height);
    width: var(--header-height);
}

#home #back-button svg {
    display: none;
}

#home.nav #back-button svg {
    display: block;
    animation: hide var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

#recent.nav #back-button svg {
    animation: show var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

/* instagram link */

#social {
    position: fixed;
    bottom: 0;
    width: var(--header-height);
    padding: var(--header-height);
    z-index: 3;
}

#social svg {
    opacity: var(--insta-opacity);
}

#recent #social {
    display: none;
}

#recent.nav #social {
    display: block;
    animation: hide var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

#home.nav #social {
    animation: show var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

#social svg g rect+rect+rect {
    stroke: none;
    fill: var(--ui-color);
}

/* ----------------------------------
HOME PAGE
---------------------------------- */

body#home {
    user-select: none;
}

/* site name */

#site-name-container {
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

#site-name {
    font-size: var(--name-font-size);
    font-family: var(--name-font-family);
    font-weight: var(--font-weight-headings);
    text-transform: var(--name-case);
    text-align: center;
    width: 60%;
    color: var(--ui-color);
}

#recent #site-name {
    display: none;
}

#recent.nav #site-name {
    display: block;
    animation: hide var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

/* frosted glass */

#glass {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--glass-color);
    backdrop-filter: blur(10px);
    z-index: 0;
    transition: opacity var(--focus-trans);
}

@media screen and (min-width: 850px) {
    #glass {
        backdrop-filter: blur(15px);
    }
}

#interface-toggle {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

#recent #interface-toggle {
    display: none;
}

/* wallpaper */

#wallpaper-wrapper {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img#wallpaper-4x3 {
    position: absolute;
    height: 100%;
    width: auto;
}

@media (min-aspect-ratio: 4/3) {
    img#wallpaper-4x3 {
        height: auto;
        width: 100%;
    }
}

img#wallpaper-3x4 {
    position: absolute;
    height: 100%;
    width: auto;
    overflow: hidden;
}

@media (min-aspect-ratio: 3/4) {
    img#wallpaper-3x4 {
        height: auto;
        width: 100%;
    }
}

img#wallpaper-1x1 {
    position: absolute;
    height: 100%;
    width: auto;
    overflow: hidden;
}

@media (min-aspect-ratio: 1/1) {
    img#wallpaper-1x1 {
        height: auto;
        width: 100%;
    }
}


/* ----------------------------------
ANIMATIONS AND FILTERS
---------------------------------- */

.trans {
    opacity: 0;
}

.opaque {
    opacity: 1;
}

.blur {
    filter: blur(2px);
}

#site-name.blur {
    font-size: calc(var(--name-font-size) * 1.05);
    opacity: 0;
}

.hide,
#nav-list.hide,
#site-name.hide {
    animation: hide var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

body.menu-expanded #site-name {
    animation: hide var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

body.menu-collapsed #site-name {
    /* display: none; */
    animation: show var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

@keyframes hide {
    0% {}

    100% {
        opacity: 0;
        display: none;
    }
}

.show,
#site-name.show {
    animation: show var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

#nav-list.show {
    display: flex;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut var(--focus-trans);
    -webkit-animation-fill-mode: forwards;
}

header.fadeOut {
    animation: fadeOut var(--focus-trans);
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        filter: blur(0px);
    }

    50% {
        filter: blur(3px);
    }

    100% {
        opacity: 0;
        scale: 1.2;
        display: none;
    }
}

.fadeIn {
    animation: fadeIn var(--focus-trans);
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#nav-button.cross svg path {
    transform-origin: 50% 50%;
    transition: rotate var(--menu-trans), opacity var(--menu-trans);
    opacity: 0;
}

#nav-button.cross svg path+path:not(path+path+path+path, path+path+path) {
    opacity: 1;
    rotate: 45deg;
}

#nav-button.cross svg path+path+path:not(path+path+path+path) {
    opacity: 1;
    rotate: -45deg;
}

#nav-button.hamburger svg path {
    transform-origin: 50% 50%;
    transition: rotate var(--menu-trans), opacity var(--menu-trans);
    opacity: 1;
}

#nav-button.hamburger svg path+path:not(path+path+path+path, path+path+path) {
    opacity: 1;
    rotate: 0deg;
}

#nav-button.hamburger svg path+path+path:not(path+path+path+path) {
    opacity: 1;
    rotate: 0deg;
}