@charset "UTF-8";
/* CSS Document */

:root {
    --page-background: rgb(209, 228, 221);
    --text-color-primary: white;
    --font-primary: sans-serif;
    --default-font-size: 17px;
    --font-weight-primary: 300;
    --font-weight-headings: 500;

    --name-case: uppercase;
    --header-padding: 11vw;
    --header-height: var(--default-font-size);
    --real-header-height: calc(var(--header-height) + (var(--header-padding) * 2));
    --name-font-size: 2.7rem;
    --default-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    --transition-time: 0.5s;
}

/* temporary ---------------------------------- */

/* 
header,
nav,
main,
footer {
    margin: 5px;
    border: 1px solid rgba(40, 48, 61, 0.3);
}
 */

/* end temporary -------------------------------*/

html {
    font-size: var(--default-font-size);
}

body {
    height: 100vh;
    margin: 0rem;
    background-color: var(--page-background);
    color: var(--text-color-primary);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-headings);
}

a {
    text-decoration: none;
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--text-color-primary);
}

svg {}

svg path {
    stroke: var(--text-color-primary);
}

/* --------------------
HEADER
-------------------- */

header {
    width: calc(100% - (var(--header-padding) * 2));
    position: fixed;
    padding: var(--header-padding);
    display: flex;
    justify-content: right;
    height: var(--header-height)
}

#site-name-container {
    width: 100%;
    position: fixed;
    margin-top: 33vw;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0);
}

#site-name {
    font-size: var(--name-font-size);
    font-weight: var(--font-weight-headings);
    font-weight: 1000;
    text-transform: var(--name-case);
    text-align: center;
    width: 70%;
    text-shadow: var(--default-shadow);
    z-index: 6;
    transition: filter var(--transition-time), font-size var(--transition-time);
}

#blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    z-index: 0;
    transition: opacity var(--transition-time);
}

.blur {
    filter: blur(5px);
}

#site-name.blur {
    font-size: calc(var(--name-font-size) * 1.05);
}

.trans {
    opacity: 0.1;
}

.opaque {
    opacity: 1;
}

#nav-button {
    transition: filter var(--transition-time);
    position: relative;
    top: 0;
    right: 0;
    z-index: 3;
}

#menu-icon,
#exit-icon {
    width: 2rem;
}

#nav-items {
    width: calc(100vw - (var(--header-padding) * 2));
    position: absolute;
    left: 0;
    padding: var(--header-padding);
    display: flex;
    flex-direction: column;
    text-align: right;
    z-index: 2;
}

#nav-items a {
    text-shadow: var(--default-shadow);
    font-size: calc(var(--default-font-size) * 2);
}

#nav-items p {
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.hidden,
#nav-items.hidden {
    display: none;
}

.visible {
    display: block;
}

/* --------------------
HOME PAGE
-------------------- */

main {
    position: absolute;
    height: fit-content;
    top: 0rem;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

main img.artwork {
    width: 100vw;
    padding: 0px 0px;
}

img.darken {
    filter: brightness(1.1);
}