@charset "UTF-8";

:root {
    --page-background: rgb(209, 228, 221);
    --text-color-primary: white;
    --glass-color: rgba(171, 154, 129, 0.5);

    --font-primary: sans-serif;
    --default-font-size: 17px;
    --font-weight-primary: 300;
    --font-weight-headings: 200;

    --icon-weight: 3px;
    --insta-opacity: 0.7;

    --name-case: capitalize;
    --name-font-family: 'Montserrat';
    --name-font-size: 2.5rem;

    --header-padding: 1.5rem;
    --header-height: 2rem;

    --menu-trans: 0.2s;
    --focus-trans: 0.5s;
}

/* ----------------------------------
UNIVERSAL HTML ELEMENTS
---------------------------------- */

html {
    font-size: var(--default-font-size);
}

body {
    height: 100vh;
    margin: 0rem;
    background-color: var(--page-background);
    color: var(--text-color-primary);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-headings);
}

p a {
    text-decoration: none;
    color: var(--text-color-primary);
    border-bottom: 1px solid var(--text-color-primary);
}

svg path,
svg rect {
    stroke: var(--text-color-primary);
    stroke-width: var(--icon-weight);
}


/* ----------------------------------
HEADER AND FOOTER
---------------------------------- */

/* menu button */

#nav-button {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
}

#menu-icon {
    margin: calc(var(--header-padding) * 1.5);
    padding: calc(var(--header-padding) * 0.5);
    top: 0;
    right: 0;
    height: var(--header-height);
    width: var(--header-height);
}

#menu-icon {
    display: block;
}

#menu-icon svg {
    padding: 2px;
}

/* menu list */

#nav-list {
    width: fit-content;
    position: absolute;
    right: 0;
    margin: calc(var(--header-padding) * 2);
    margin-top: calc(var(--header-padding) * 4);
    display: none;
    flex-direction: column;
    text-align: right;
    z-index: 3;
}

#nav-list a {
    font-size: calc(var(--default-font-size) * 1.5);
}

#nav-list p {
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    font-weight: var(--font-weight-primary);
    font-family: var(--name-font-family);
}

/* instagram link */

#social {
    position: fixed;
    bottom: 0;
    opacity: var(--insta-opacity);
    width: var(--header-height);
    margin: calc(var(--header-padding) * 1.5);
    padding: calc(var(--header-padding) * 0.5);
    z-index: 3;
}

#social svg g rect+rect+rect {
    stroke: none;
    fill: var(--text-color-primary);
}

/* ----------------------------------
HOME PAGE
---------------------------------- */

body#home {
    user-select: none;
}

/* site name */

#site-name-container {
    width: 100%;
    position: fixed;
    margin-top: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

#site-name {
    font-size: var(--name-font-size);
    font-family: var(--name-font-family);
    font-weight: var(--font-weight-headings);
    text-transform: var(--name-case);
    text-align: center;
    width: 60%;
}

/* frosted glass */

#glass {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--glass-color);
    backdrop-filter: blur(10px);
    z-index: 0;
    transition: opacity var(--focus-trans);
}

@media screen and (min-width: 850px) {
    #glass {
        backdrop-filter: blur(15px);
    }
}

#interface-toggle {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

/* wallpaper */

#wallpaper-wrapper {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img#wallpaper-4x3 {
    position: absolute;
    height: 100%;
    width: auto;
    overflow: hidden;
}

@media (min-aspect-ratio: 4/3) {
    img#wallpaper-4x3 {
        height: auto;
        width: 100%;
    }
}

img#wallpaper-3x4 {
    position: absolute;
    height: 100%;
    width: auto;
    overflow: hidden;
}

@media (min-aspect-ratio: 3/4) {
    img#wallpaper-3x4 {
        height: auto;
        width: 100%;
    }
}

img#wallpaper-1x1 {
    position: absolute;
    height: 100%;
    width: auto;
    overflow: hidden;
}

@media (min-aspect-ratio: 1/1) {
    img#wallpaper-1x1 {
        height: auto;
        width: 100%;
    }
}


/* ----------------------------------
ANIMATIONS AND FILTERS
---------------------------------- */

.trans {
    opacity: 0;
}

.opaque {
    opacity: 1;
}

.blur {
    filter: blur(2px);
}

#site-name.blur {
    font-size: calc(var(--name-font-size) * 1.05);
    opacity: 0;
}

.hide,
#nav-list.hide,
#site-name.hide {
    animation: hide var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.show,
#site-name.show {
    animation: show var(--menu-trans);
    -webkit-animation-fill-mode: forwards;
}

#nav-list.show {
    display: flex;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut var(--focus-trans);
    -webkit-animation-fill-mode: forwards;
}

#nav-button.fadeOut {
    animation: fadeOut var(--focus-trans);
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        filter: blur(0px);
    }

    50% {
        filter: blur(3px);
    }

    100% {
        opacity: 0;
        scale: 1.2;
        display: none;
    }
}

.fadeIn {
    animation: fadeIn var(--focus-trans);
    -webkit-animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#menu-icon.cross svg path {
    transform-origin: 50% 50%;
    transition: rotate var(--menu-trans), opacity var(--menu-trans);
    opacity: 0;
}

#menu-icon.cross svg path+path:not(path+path+path+path, path+path+path) {
    opacity: 1;
    rotate: 45deg;
}

#menu-icon.cross svg path+path+path:not(path+path+path+path) {
    opacity: 1;
    rotate: -45deg;
}

#menu-icon.hamburger svg path {
    transform-origin: 50% 50%;
    transition: rotate var(--menu-trans), opacity var(--menu-trans);
    opacity: 1;
}

#menu-icon.hamburger svg path+path:not(path+path+path+path, path+path+path) {
    opacity: 1;
    rotate: 0deg;
}

#menu-icon.hamburger svg path+path+path:not(path+path+path+path) {
    opacity: 1;
    rotate: 0deg;
}